* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Merienda;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
b {
    font-weight: bold;
}

@font-face {
    font-family: Merienda; 
    src: url(./fonts/Merienda/Merienda-Regular.ttf); 
    src: url(./fonts/Merienda/Merienda-Bold.ttf); 
}

body {
    min-width: 740px;
    
}

.header {
    height: 640px;
    background-image: url(./img/bg/main-page-header-bg.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.header--coffee-page, 
.header--item-page {
    height: 260px;
    background-image: url(./img/bg/coffee-page-header-bg.jpg);
    background-attachment: scroll;
}
.header--item-page {
    background-image: url(./img/bg/item-page-header-bg.jpg);
}


.nav-bar {
    padding-left: 12.5%; 
    padding-top: 52px;
    width: auto;
    height: 97px;
    display:flex;
    color: #FFFFFF;
}
.nav-bar--in-footer {
    height: 60px;
    padding-top: 20px;
    padding-left:0px; 
    justify-content: center;
    color: #000000;
}

.nav-bar__link-wrapper {
    width: auto;
    height: 45px;
    background-repeat: no-repeat;
    background-position: top 5px;

}

.nav-bar__link-wrapper--with-white-logo {
    background-image: url(./img/logo/coffee-beans-white.svg);   
}
.nav-bar__link-wrapper--with-black-logo {
    background-image: url(./img/logo/coffee-beans-black.svg);
}

.nav-bar__link {
    margin: 0px;
    padding: 0px;
    margin-left: 40px;
    font-size: 12px;
    line-height: 55px;
    vertical-align: bottom;
    text-decoration: none;
    color: inherit;
}

.separator {
    height: 38px;
    background-image: url(./img/logo/beans_logo_white.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 15px;
}
.separator--black {
    background-image: url(./img/logo/beans_logo_black.svg);
}
.separator--line {
    background-image: url(./img/logo/line_240.svg);
}


.h1 {
    margin-top: 35px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.h1--main-page {
    margin-top: 100px;
}

.header__point {
    margin-top: 20px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
}

.header__more-wrapper {
    margin-top: 20px;
    height: 30px;
    text-align: center;
}

.header__more-btn {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 41.5px 5px 41.5px;
    border: 1px solid white;
    border-radius: 3px;
}

.main__section-about-us {
    height: 520px;
    background: #FFFFFF;
    text-align: center;
}

.main__text-wrapper {
    display:flex;
    justify-content: center;
}
.main__text {
    margin-top: 25px;
    width: 589px;
    height: 223px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.space-70 {
    height: 70px;
}
.space-35 {
    height: 35px;
}

.h2 {
    padding-top: 10px;
    margin-bottom: 0px;
    height: 36px;
    text-align: center;
    font-size: 24px;
    color: #000000;
}

.main__section-our-best {
    height: 495px;
    background-image: url(./img/bg/main-page-mask-group.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
}

.list__row {
    margin-top: 50px;
    display:flex;
    justify-content: center;
}

.item {
    flex-basis: 220px;
    min-width: 215px;
    height: 260px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    color: #000000;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));

}

.item--best {
    background: rgba(255, 255, 255, 0.65);
    height: 240px;
    filter: none;
}

.item__name {
    text-align: right;
} 

.item__country {
    text-align: right;
}

.item__price {
    font-weight: bold;
    text-align: right;
}

.item__image-wrapper {
    height: 145px; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
}

.footer {
    height: 150px;
}

.article {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.article__content-wrapper {
    padding: 40px;
    padding-right: 69px;
    padding-left: 11px;
    width: 472px;
    text-align: right;
}
.article__content-wrapper--with-description {
    padding-left: 0px;
    padding-right: 29px;
    text-align: left;
}
.article__content-wrapper--centre {
    text-align: center;
}


.article__price {
    font-size: 24px;
}

.article__image {
    filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25));
}

.search-panel {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.search-panel__input-group {
    display: flex;
    flex-basis: 300px;
    margin-left: 2%;
    margin-right: 2%;
    align-items: baseline;
}

.search-panel__label {
    width: 85px;
    line-height: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

.search-panel__input {
    text-align: center;
    width: 180px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: 0;
    font-size: 12px;
    line-height: 17px;
}

.search-panel__filters-group {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
  
}

.search-panel__filter-item {
    margin-left: 1%;
    margin-right: 1%;
    width: 75px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    border: 0;
    font-size: 12px;
    line-height: 17px;
}

.search-panel__filter-item--right {
    border-radius: 0px 4px 4px 0px;
}

.search-panel__filter-item--left {
    border-radius: 4px 0px 0px 4px;
}


/* .main-page,
.coffee-page,
.goods-page,
.coffee-item-page {
    display: none;
}

.coffee-page {
    display: block;
} */
