.item {
    flex-basis: 220px;
    min-width: 215px;
    height: 260px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    color: #000000;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
  }
  
  .item--best {
    background: rgba(255, 255, 255, 0.65);
    height: 240px;
    filter: none;
  }
  
  .item__name {
    text-align: right;
  } 
  
  .item__country {
    text-align: right;
  }
  
  .item__price {
    font-weight: bold;
    text-align: right;
  }
  
  .item__image-wrapper {
    height: 145px; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
  }